<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="environmentgo.css">  

    </head>
    <style>
    body {
        width: 100%;
  height: 400px;
  background-image: 
      linear-gradient(to right, rgba(30, 75, 115, 1), rgba(255, 255, 255, 0)), url(https://i.imgur.com/LJIEh4v.jpg);
        }
    </style>
    <h1 class="title">Log in/Sign up</h1>
    <form class="smartGreenForm" method="post">
    <h3>Username: <br></h3>
    <input type="text" placeholder="Enter username" name="username" required>
    <h3>Password: <br></h3>
    <input type="text" placeholder="Enter password" name="password" required><br>
    <input type="submit" value="submit">
    </form>
    

</html>




