{% extends "base.html" %}
{% block content %}

  <h1 class="title"> Upload Photo</h1>
   <form class="smartGreenForm" method="post" enctype="multipart/form-data">

   {% csrf_token %}

   {{ form.as_p }}

   <button type="submit">Upload</button>

 </form>
<!--
  <form class="smartGreenForm" enctype="multipart/form-data" method="post">
    <input name="img" type="file" accept="image/*" required> <br>
    <input type="submit" required>

    <input name="lat" type="text" id="latInput" placeholder="Lat" /> <br>
    <input name="long" type="text" id="lonInput" placeholder="Long" /> <br>
</form>
-->


<script>
    // Listener
    getLocation();

    // Get location
    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(handlePosition);
        } else {
            setFormValues(0,0);
        }
    }
    function setFormValues(lat, long) {
            document.getElementById("id_latitude").value=lat;
            document.getElementById("id_longitude").value=long;

    }
    // Handle location
    function handlePosition(position) {
                var lat = (position.coords.latitude);
        var long = (position.coords.longitude);
        setFormValues(lat, long);
    }
</script>
{% endblock %}




